html
  head
    script(type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js")
  body
    #toMerge(data-signals-foo="'World'" data-on-load="@post('/merge')") Hello
    div(data-text="$foo")
